{% extends 'post/index.html' %} {% block content %}
<style>
  .containers {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
  .topic {
    display: flex;
    flex-direction: column;
  }
</style>
<div class="containers">
  
  <div>
    {% include 'post/topic-search.html' %}
  </div>
  <div>
    <h3>{{post_count}} posts available right now!!</h3>
    <a href="{% url 'create' %}" class=".mb-3">Create Post</a>
    <a href="{% url 'topic' %}">Create Topic</a>

    {% include 'post/feed.html' %}
  </div>
  <div class="border">
    {% include 'post/activity.html' %}
  </div>
</div>

{% endblock %}
