{% extends 'post/index.html'%} {% block content %}
<style>
  .container{
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .patr{
    padding: 10px;
  }
  .inner-ppc{
    padding-left: 10px;
  }

</style>

<div class="container">
  <div class="border d-flex flex-column mb-3">
    <h4>@{{post.user}}</h4>
    <h1>{{post.heading}}</h1>
    <p>{{post.desc}}</p>
    <div class="comments">
      
      <h3>Comments</h3>
      <hr />
      {% if request.user.is_authenticated %}
      <div>
        <form action="" method="POST">
          {% csrf_token %}
          <input type="text" name="addComment" placeholder="Enter a Comment">
          <input type="submit" value="Add Comment">
        </form>
      </div>
      {% endif %}
      {% for i in comments %}
        <div>
          {% if i.user == request.user %}
          <a href="{% url 'deleteComment' i.id %}">Delete</a>
          <br>
          <a href="{% url 'edit' i.id %}">Edit Comment</a>
          {% endif %}
          <p>
            @{{i.user}} {{i.created|timesince}} ago 
          </p>
          <p>
            {{i.message}} 
  
          </p>
          <hr>
  
        </div> 
      {% endfor %}
    </div>
    <a href="{{request.META.HTTP_REFERER}}">Go Back</a>
  </div>
  <div class="border">
    <h3 class="patr ">Participants</h3>

    <hr>
    <div class="inner-ppc"> 
      {% for i in ppc %}
      <h5>@{{i.username}}</h5>
      {% endfor %}
      
    </div>
  </div>
</div>

{% endblock %}
